/* Appointments = t3-2-1*/

.t3-2-1-child-schedule {
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    margin-bottom: 10px;
    border-radius:10px;
    flex-direction: column;
    
  }
  
  .t3-2-1-p {
    width: 100%;
    padding: 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 16px;
  }

  .t3-1-1-buttons-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.t3-2-1-button-r {
    width: 85%;
    padding: 15px 20px 15px 20px;
    background-color: #F67D46;
    color: white;
    border: none;
    border-top-left-radius: 10px;
}


.t3-2-1-button-l {
    max-height: 100%;
    width: 15%;
    padding: 15px 20px 15px 20px;
    background-color: #945236;
    color: white;
    border: none;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.t3-2-1-button-l:hover {
    background-color: #C9734C; /* Ajuste a cor de hover conforme necessário */
}

.t3-2-1-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}