/*YourAppointments = t3-2*/

.t3-2-container {
    display: flex;
    flex-direction: column;
    height: 45vh;
    padding-inline: 20px;
    background-color: #F4F3FF;
    padding-top: 20px;
}

.t3-2-title-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.t3-2-title {
    font-size: 18px;
    font-weight: 600;
    color: #F67D46;
    margin-bottom: 10px;
}

.t3-2-kids {
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
}

@media (min-width: 768px) {
    .t3-2-container {
        display: flex;
        flex-direction: column;
        height: 95vh;
        padding-inline: 20px;
        background-color: white;
        border-left: #F4F3FF 1px solid;
        padding-top: 20px;
    }
  }
  