.profile-form-container {
 margin: auto;
 border: 1px solid #ddd;
 border-radius: 5px;
 font-family: "Montserrat";
}

.resp-prof {
    padding-inline: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-bairro-resp{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

.title-resp-prof{
    margin-bottom: 20px;
    color: red;
    font-weight: 800;
    font-size: 23px;
}

.icon-resp-prof {
    color: white;
    background-color: red;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}

.form-group {
    padding-inline: 20px;
    margin-bottom: 15px;
}

.label-resp-prof{
    padding-top: 10px;
    margin-bottom: 5px;
}
.form-resp-prof{
    display: flex;
    flex-direction: column;
    
}
.end-resp-prof{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

button {
    width: 100%;
    padding: 15px 20px 15px 20px;
    background-color: #090E66;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 20px;
}

button:hover {
 background-color: #0056b3;
}

a {
    margin-inline: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

a:hover {
 text-decoration: underline;
}

/* Media Queries for Responsiveness */
@media (min-width: 768px) {
    .form-resp-prof{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
  }