/*tela login = t1*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.t1-login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
    font-family: "Montserrat";
}

.t1-logo-header {
    display: flex;
    justify-content: center;
}

.t1-login-header {
    height: 90%;
    width: 70%;
}

.t1-upe-logo {
    width: 100px;
    margin-bottom: 20px;
}

.t1-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 800;
    font-size: 23px;
}

.t1-login-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-inline: 10px;
    max-width: 100%;
    box-sizing: border-box;
}

.t1-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.t1-login-form h2 {
    margin-bottom: 20px;
    color: #090E66;
}

.t1-login-title {
    padding-top: 10px;
    margin-bottom: 5px;
}

.t1-login-input {
    width: 100%;
    padding: 10px;
    background-color: #F4F3FF;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}

.t1-login-button {
    width: 100%;
    padding: 15px 20px 15px 20px;
    background-color: #090E66;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.t1-login-button:hover {
    background-color: #005bb5;
}

.t1-signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.t1-signup-link {
    color: #0066cc;
    text-decoration: none;
    margin-top: 5px;
}

.t1-signup-link:hover {
    text-decoration: underline;
}

.t1-signup-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.t1-center {
  display: grid;
	align-items: center;
  padding-top: 20px;
}

.t1-signup-container-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.t1-signup-container-horizontal .signup-text {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Media Queries for Responsiveness */
@media (min-width: 768px) {
    .t1-login-container {
        flex-direction: row;
        align-items: center;
    }

    .t1-logo-header {
        width: 50%;
    }

    .t1-login-form {
        width: 50%;
        text-align: left;
        padding: 40px;
    }
}
