.signup-container {
  display: block;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
  font-family: "Montserrat";
}

.signup-header {
  display: flex;
  justify-content: center;
}

.logo-register {
  height: 90%;
  width: 70%;
}

.title-register {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
  font-size: 23px;
}

.upe-logo {
  width: 100px;
  margin-bottom: 20px;
}

.signup-form {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-inline: 10px;
  max-width: 100%;
  box-sizing: border-box;
}

.div-bairro{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.div-numero{
  width: 100%;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nome-bairro{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.signup-form h2 {
  margin-bottom: 20px;
  color: #090E66;
  font-weight: 800;
  font-size: 23px;
}

.register-input-container{
  display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.register-title {
  padding-top: 10px;
  margin-bottom: 5px;
}

.signup-button {
  width: 100%;
  padding: 15px 20px 15px 20px;
  background-color: #090E66;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 10px;
}

.signup-button:hover {
  background-color: #005bb5;
}

.login-text a:hover {
  text-decoration: underline;
}



/* Media Queries for Responsiveness */
@media (min-width: 768px) {
  .signup-container {
    flex-direction: row;
    align-items: center;
    display: flex;
  }

  .signup-header {
    width: 50%;
  }

  .signup-form {
    width: 50%;
    text-align: left;
    padding: 40px;
  }
}
